[workspace]
members = [
    "src/did",
    "src/eth-signer",
    "src/eth-signer/test_canister",
    "src/evm-block-extractor",
    "src/evm-canister-client",
    "src/iceth-client",
    "src/iceth-client/test-canister",
    "src/register-evm-agent/src/register_evm_agent",
    "src/register-evm-agent/src/simple_canister",
    "src/signature-verification-canister-client",
]
resolver = "2"

[workspace.package]
authors = ["Bitfinity Network"]
categories = ["cryptography::cryptocurrencies"]
description = "EVM canister SDK"
edition = "2021"
homepage = "https://github.com/bitfinity-network/bitfinity-evm-sdk"
include = ["src/**/*", "LICENSE", "README.md"]
license = "MIT"
name = "bitfinity-evm-sdk"
repository = "https://github.com/bitfinity-network/bitfinity-evm-sdk"
version = "0.3.0"

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1"
bincode = "1.3"
bytes = "1.3"
candid = "0.9"
clap = { version = "4", features = ["derive"] }
derive_more = "0.99"
env_logger = { version = "0.10.0", default-features = false }
ethereum-types = "0.14"
ethers-core = { git = "https://github.com/bitfinity-network/ethers-rs", default-features = false, package = "ethers-core", branch = "evmc_fork" }
hash-db = "0.16"
hex = "0.4"
ic-canister = { git = "https://github.com/bitfinity-network/canister-sdk", package = "ic-canister", branch = "evm_benchmarks" }
ic-canister-client = { git = "https://github.com/bitfinity-network/canister-sdk", package = "ic-canister-client", branch = "evm_benchmarks" }
ic-exports = { git = "https://github.com/bitfinity-network/canister-sdk", package = "ic-exports", branch = "evm_benchmarks" }
ic-storage = { git = "https://github.com/bitfinity-network/canister-sdk", package = "ic-storage", branch = "evm_benchmarks" }
ic-stable-structures = { git = "https://github.com/bitfinity-network/canister-sdk", package = "ic-stable-structures", branch = "evm_benchmarks" }
itertools = "0.11"
jsonrpc-core = "18.0"
log = "0.4"
num = "0.4"
rand = { version = "0.8", features = ["std_rng", "small_rng"] }
reqwest = { version = "0.11", default-features = false }
serde = "1.0"
serde_json = "1.0"
rlp = "0.5"
sha2 = "0.10"
sha3 = "0.10"
thiserror = "1.0"
tokio = { version = "1.24", features = ["macros", "rt"] }
once_cell = "1.16"
zip = "0.6.6"

[profile.dev]
debug = false
