[package]
name = "evm-block-extractor"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "evm-block-extractor"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
ctrlc = { workspace = true }
env_logger = { workspace = true }
ethers-core = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
ethereum-json-rpc-client = { path = "../ethereum-json-rpc-client", features = [
  "reqwest",
] }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
zip = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
